<% layouts = Dir.entries(Rails.root.join("app", "views", "layouts")).keep_if { |i| i =~ /.html.erb$/ }.each{|i| i.slice! ".html.erb"} %>

<%= semantic_form_for [:admin, resource] do |f| %>
  <%= f.inputs "Основное" do %>
    <%= f.input :name %>
    <%= f.input :content, as: :ckeditor %>
    <%= f.input :position %>
    <%= f.input :hidden, label: 'Скрыть пункт меню' %>
    <%= f.input :parent_id, as: :select,
                collection: Hash[Page.all.map{|page| ["#{page.name}-#{page.id}", page.id]}] %>
    <li class="input optional overflow">
      <%= f.label :layout %>
      <%= f.collection_select :layout, layouts, :to_s, :to_s %>
    </li>
  <% end %>

  <%= f.semantic_fields_for :seo do |s| %>
    <%= s.inputs "Seo" do %>
      <%= f.input :slug, required: false %>
      <%= s.input :title %>
      <%= s.input :keywords %>
      <%= s.input :description %>
    <% end %>
  <% end %>

  <%= f.actions %>
<% end %>
