<% content_for :header do %>
  <%= render 'pages/index/header_slider' %>
<% end %>
<%= yield(:header) if content_for?(:header) %>
<%= render 'jurisprudences/list' %>

<div class="container">
  <div class="row-fluid">
    <div class="span4">
      <a class="service_link" href="#">
        <div class="service clearfix">
          <div class="service_icon"><%= image_tag('design/service_price.png') %></div>
          <div class="desc">
            <div class="desc_header">
              <h4>Стоимость<br/>услуг</h4>
            </div>
            <p>Описание стоимости услуг опис ание стоимости услуг
              описание стоимостание стослуг  описание стоимослуг
              ание стоимости услуг опис ание стоимости услуг описание
              стоимостание стослуг
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="span4">
      <a class="service_link" href="#">
        <div class="service clearfix">
          <div class="service_icon"><%= image_tag('design/service_call.png') %></div>
          <div class="desc">
            <div class="desc_header">
              <h4>Заказ<br />услуг</h4>
            </div>
            <p>Описание стоимости услуг описание стоимости услуг
              описание стоимостание стослуг  описание стоимослуг
              ание стоимости услуг опис ание стоимости услуг описание
              стоимостание стослуг.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="span4">
      <a class="service_link" href="<%= docs_path %>">
        <div class="service clearfix">
          <div class="service_icon"><%= image_tag('design/service_docs.png') %></div>
          <div class="desc">
            <div class="desc_header">
              <h4>Образцы документов,<br />
                заявлений</h4>
            </div>
            <p>Описание стоимости услуг опис ание стоимости услуг
              описание стоимостание стослуг  описание стоимослуг
              ание стоимости услуг опис ание стоимости услуг описание
              стоимостание стослуг.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <%= render 'reviews/list' %>

  <div id="clients-flexslider" class="flexslider home clients">
    <div class="headline"><h3>Партнёры</h3></div>
    <ul class="slides">
      <li>
        <a href="#">
          <%= image_tag('clients/hp_grey.png', alt: "") %>
          <%= image_tag('clients/hp.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/igneus_grey.png', alt: "") %>
          <%= image_tag('clients/igneus.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/vadafone_grey.png', alt: "") %>
          <%= image_tag('clients/vadafone.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/walmart_grey.png', alt: "") %>
          <%= image_tag('clients/walmart.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/shell_grey.png', alt: "") %>
          <%= image_tag('clients/shell.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/natural_grey.png', alt: "") %>
          <%= image_tag('clients/natural.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/aztec_grey.png', alt: "") %>
          <%= image_tag('clients/aztec.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/gamescast_grey.png', alt: "") %>
          <%= image_tag('clients/gamescast.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/cisco_grey.png', alt: "") %>
          <%= image_tag('clients/cisco.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/everyday_grey.png', alt: "") %>
          <%= image_tag('clients/everyday.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/cocacola_grey.png', alt: "") %>
          <%= image_tag('clients/cocacola.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/spinworkx_grey.png', alt: "") %>
          <%= image_tag('clients/spinworkx.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/shell_grey.png', alt: "") %>
          <%= image_tag('clients/shell.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/natural_grey.png', alt: "") %>
          <%= image_tag('clients/natural.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/gamescast_grey.png', alt: "") %>
          <%= image_tag('clients/gamescast.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/everyday_grey.png', alt: "") %>
          <%= image_tag('clients/everyday.png', :class => "color-img", alt: "") %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('clients/spinworkx_grey.png', alt: "") %>
          <%= image_tag('clients/spinworkx.png', :class => "color-img", alt: "") %>
        </a>
      </li>
    </ul>
  </div>
</div>
