<%= render 'pages/index/header_slider' %>
<%= render 'jurisprudences/list' %>

<div class="container">
  <div class="row-fluid">
    <div class="span4">
      <a class="service_link" href="#">
        <div class="service clearfix">
          <div class="service_icon"><%= image_tag('design/service_price.png') %></div>
          <div class="desc">
            <div class="desc_header">
              <h4>Стоимость<br/>услуг</h4>
            </div>
            <p>Описание стоимости услуг опис ание стоимости услуг
              описание стоимостание стослуг  описание стоимослуг
              ание стоимости услуг опис ание стоимости услуг описание
              стоимостание стослуг
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="span4">
      <a class="service_link" href="#">
        <div class="service clearfix">
          <div class="service_icon"><%= image_tag('design/service_call.png') %></div>
          <div class="desc">
            <div class="desc_header">
              <h4>Заказ<br />услуг</h4>
            </div>
            <p>Описание стоимости услуг описание стоимости услуг
              описание стоимостание стослуг  описание стоимослуг
              ание стоимости услуг опис ание стоимости услуг описание
              стоимостание стослуг.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="span4">
      <a class="service_link" href="<%= docs_path %>">
        <div class="service clearfix">
          <div class="service_icon"><%= image_tag('design/service_docs.png') %></div>
          <div class="desc">
            <div class="desc_header">
              <h4>Образцы документов,<br />
                заявлений</h4>
            </div>
            <p>Описание стоимости услуг опис ание стоимости услуг
              описание стоимостание стослуг  описание стоимослуг
              ание стоимости услуг опис ание стоимости услуг описание
              стоимостание стослуг.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <%= render 'reviews/list' %>
  <%= render 'pages/index/partners' %>
</div>
