<%= form_for @review, :url => reviews_path(@review) do |f| %>
  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <%= f.submit "Отправить" %>
<% end %>
