<!DOCTYPE html>
  <!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
  <!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
  <!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
  <!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <title>Добро пожаловать | ЮрАспект</title>
    <!-- Meta -->
    <%= render 'shared/seo_meta_tags' %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Logo -->
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- CSS and JS -->
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <!--[if IE 9]>
      <%= stylesheet_link_tag 'parallax-slider/parallax_slider_for_ie9', :media => "all" %>
    <![endif]-->
    <%= javascript_include_tag 'application' %>
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= show_flash %>
    <%= render 'shared/header' %>
    <div id="page">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>	
